version: '3'
services:
  encoder:
    build: .
    image: docker-dash-encoder
    volumes:
    - './convert.sh:/encoder/convert.sh'
    - './media:/media'
    command: bash ./convert.sh /media/in/whooping3.mp4
