version: '3'
services:
  shaka-encoder:
    build: ./shaka-packager
    image: docker-dash-encoder:shaka
    volumes:
    - './shaka-packager/convert-shaka.sh:/encoder/convert-shaka.sh'
    - './media:/media'
    command: bash ./convert-shaka.sh /media/in/whooping3.mp4
